<a href="https://colab.research.google.com/github/RushiG02/ML/blob/master/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import numpy as np
import pandas as pd
from google.colab import files
data1=pd.read_csv('https://data.open-power-system-data.org/time_series/2019-06-05/time_series_60min_singleindex.csv')
data2 = data1.truncate(before = '70130')
data=data2[['utc_timestamp', 'cet_cest_timestamp','FR_load_actual_tso','FR_load_forecast_tso','FR_solar_generation_actual','FR_wind_onshore_generation_actual']]
data.fillna(data.mean(), inplace=True)
data.to_csv('d.csv')
files.download("d.csv")

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

MessageError: ignored

In [19]:
import numpy as np
import pandas as pd

data1=pd.read_csv('https://data.open-power-system-data.org/time_series/2019-06-05/time_series_60min_singleindex.csv')
data2 = data1.truncate(before = '70130')
data=data2[['utc_timestamp', 'cet_cest_timestamp','FR_load_actual_tso','FR_load_forecast_tso','FR_solar_generation_actual','FR_wind_onshore_generation_actual']]
data.fillna(data.mean(), inplace=True)
data

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

               utc_timestamp  ... FR_wind_onshore_generation_actual
70130   2013-01-01T01:00:00Z  ...                       3864.000000
70131   2013-01-01T02:00:00Z  ...                       3625.000000
70132   2013-01-01T03:00:00Z  ...                       3564.000000
70133   2013-01-01T04:00:00Z  ...                       3452.000000
70134   2013-01-01T05:00:00Z  ...                       3363.000000
...                      ...  ...                               ...
125588  2019-04-30T19:00:00Z  ...                       2500.933414
125589  2019-04-30T20:00:00Z  ...                       2500.933414
125590  2019-04-30T21:00:00Z  ...                       2500.933414
125591  2019-04-30T22:00:00Z  ...                       2500.933414
125592  2019-04-30T23:00:00Z  ...                       2500.933414

[55463 rows x 6 columns]